<app-default-login-layout
    title = "Plataforma de Ingressos"
    primaryBtText="Acesse agora"
    secondaryBtText="Cadastro"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-primary-input 
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="teste@gmail.com">
            <img src="/assets/svg/email-icon.svg">
        </app-primary-input>
        <app-primary-input formControlName="password" inputName="password" type="password" label="Sua Senha" >
            <img src="/assets/svg/password-icon.svg">
        </app-primary-input>
        <span>Esqueceu a Senha ?</span>
    </form>
</app-default-login-layout>